body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://e0.pxfuel.com/wallpapers/831/304/desktop-wallpaper-water-color-2-2560-x-1706.jpg'); 
    background-size: 100% 100%; 
    background-position: center top;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    color: #fff; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

section {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    display: grid;
    gap: 10px;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    margin-top: auto; 
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.image-container {
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: 70px;
    margin-top: 20px;
    margin-left : 10px;
}

